


body {
    font: Helvetica, sans-serif;

}

.addBookLabel {
    font-weight: bold;
}
/* ----------------------------- */
#deleteImg {
     font-size: 15px;
     background-color: transparent;
     margin-right: 1rem;
     transition: 0.1s;
}

#deleteImg:hover {
     color: red;
}
/* ----------------------------- */
.error {
     color: red;
}

/* ----------------------------- */

#myFont {
     font-family: "Merriweather", Georgia, "Times New Roman", serif;
}


/* ----------------------------- */
#myNavItem {
     transition: .1s;
}

#myNavItem:hover {
     background-color: #acb;
}

/* ----------------------------- */



/* ----------------------------- */



/* ----------------------------- */


/* ----------------------------- */

