<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login and Registration</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- static css -->
    <link rel="stylesheet" href="../static/style.css">

    <!-- Link to jQuery  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body style="background-color: #ced;">


    <!-- ================= NAV ======================== -->
    <nav id="navbar" class="navbar navbar-dark" style="background-color:#aa9;" >
        <span class="navbar-text justify-content-left" style="color: white;">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z" />
                <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z" />
            </svg>
            {{ session['user_alias'] }}
        </span>

        <!-- =================== HOME ROUTE ===================== -->
        <form action="/booksPage" method="get" class="form-inline justify-content-end">
            <button class="btn" type="submit" style="color: white;">home</button>
        </form>


        <!-- =================== LOGOUT ROUTE ===================== -->
        <form action="/logout" method="post" class="form-inline justify-content-end">
            <button class="btn" type="submit" style="color: white;">log out</button>
        </form>
    </nav>

    <!-- ============================================================================================== -->
    <div style="height: 30px; background-color:white; margin-bottom: 30px;">
    
    </div>
    <div class="container">

        <!-- ======== ALERT FOR REVIEW SUCCESS ======== -->

        <div class="container" style="min-height:100%; width:80%">
            {% with messages = get_flashed_messages(category_filter=["review-success"]) %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <h4 class="alert-heading">SUCCESS!</h4>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                {{message}}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            {% block body %}{% endblock %}
        </div>


        <div class="row">
            <h3>
                Add a new book title and a review:
            </h3>
        </div>

        <div class="row">
            <div class="col">


                <!-- form for adding a new book or review  -->
                <!-- ------------------------------------------------------------- -->
                <form action="/addReview" method="post">

                    <!-- title  -->

                    <div class="form-group row">


                        <label for="title" class="col-sm-3 col-form-label">Book Title:</label>
                        <div style="color:red;">
                            {% with errors = get_flashed_messages(category_filter=["title"]) %}
                            {% if errors %}
                            {% for msg in errors %}
                            <p class="error">{{ msg }}</p>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
                        </div>


                        <div class="col-sm-9">
                            <input name="title" type="text" class="form-control" id="title">
                        </div>
                    </div>


                    <!-- author  -->


                    Author

                    <!-- create new author  -->
                    <div class="form-group row">
                        <label for="new-author" class="col-sm-3 col-form-label">Add a new author:</label>
                        <div style="color:red;">
                            {% with errors = get_flashed_messages(category_filter=["author"]) %}
                            {% if errors %}
                            {% for msg in errors %}
                            <p class="error">{{ msg }}</p>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
                        </div>

                        <div class="col-sm-9">
                            <input name="new-author" type="text" class="form-control" id="new-author">
                        </div>
                    </div>

                    <!-- old-author: drop down of existing authors in database -->
                    <div class="form-group row">
                        <label for="old-author" class="col-sm-3 col-form-label">Existing Author</label>
        

                        <div class="col-sm-2">
                            <select name="old-author" class="custom-select" id="old-author">

                                <!-- LOOP THROUGH AUTHORS TABLE -->
                                <!-- ============================================== -->
                                <option selected>Choose</option>

                                {% for author in author_results %}

                                <option value="{{ author.id }}">{{ author.author_name }} </option>

                                {% endfor %}
                            </select>
                        </div>
                    </div>



                    <!-- Review  -->
                    <div class="form-group row">
                        <label for="content" class="col-sm-3 col-form-label">Review</label>
                        <div style="color:red;">
                            {% with errors = get_flashed_messages(category_filter=["review"]) %}
                            {% if errors %}
                            {% for msg in errors %}
                            <p class="error">{{ msg }}</p>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
                        </div>

                        <div class="col-sm-9">
                            <textarea name="content" class="form-control" id="content" rows=" 3"></textarea>
                        </div>
                    </div>

                    <!-- rating  -->
                    <div class="form-group row">
                        <label for="rating" class="col-sm-3 col-form-label">Rating</label>
                        <div style="color:red;">
                            {% with errors = get_flashed_messages(category_filter=["rating"]) %}
                            {% if errors %}
                            {% for msg in errors %}
                            <p class="error">{{ msg }}</p>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
                        </div>

                        <div class="col-sm-2">
                            <select name="rating" class="custom-select" id="rating">
                                <option selected>Choose</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                    </div>

                    <!-- submit button  -->
                    <div class="form-group row justify-content-end">
                        <button type="submit" class="btn btn-primary">Add Review</button>
                    </div>


                </form>


            </div>


        </div>



    </div>

















    <!-- BOOTSTRAP'S: Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>

</html>