<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login and Registration</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- static css -->
    <link rel="stylesheet" href="../static/style.css">
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/47aea27298.js" crossorigin="anonymous"></script>
    <!-- google icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Link to jQuery  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>


    <!-- ================= NAV ======================== -->
    <nav id="navbar" class="navbar navbar-dark" style="background-color:black;">
        <span class="navbar-text justify-content-left" style="color: white;">
            <i class="fas fa-portrait"></i>
            {{ session['user_alias'] }}
        </span>

        <ul class="nav justify-content-end">

            <!-- ============= HOME ROUTE =============== -->
            <li class="nav-item" id="myNavItem">
                <a class="nav-link" href="/booksPage" style="color: white;">Home <i class="fas fa-home"></i></a>
            </li>

            <!-- ============== LOGOUT ROUTE ================ -->
            <li class="nav-item" id="myNavItem">
                <form action="/logout" method="post">
                    <button type="submit" class="btn btn-Link" style="color: white;">Log out <i style="color: white;"
                            class="fas fa-door-open"></i></button>
                </form>

            </li>
        </ul>
    </nav>

    <!-- =================================================================================================== -->

    <div style="height: 30px; background-color:#ced; margin-bottom: 30px;">
    </div>

    {% for book in results %}
    <div class="container">


        <!----- book title  ------->
        <div class="row justify-content-center">
            <h1 id="myFont" style="font-weight:bold;">
                {{ book.title|capitalize }}
            </h1>
        </div>
        <div class="row justify-content-center" style="margin-bottom: 25px;">

            <!-- author  -->
            <h4 style="color: grey;">
                by: {{ book.author_name|capitalize }}
            </h4>

        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col-7" style="padding-right: 30px;">
                <h4 id="myFont" style="border-bottom: solid 3px black; margin-bottom: 30px;">Reviews:</h4>


                <!-- if there are no reviews:  -->
                {% if not review_results: %}
                <div style="font-size:1.5rem; font-style: italic;">
                    <p>This book doesn't have any reviews</p>
                    <p>Be the first to add a review on the right!!</p>
                </div>
                {% endif %}


                <!-- LOOP THROUGH REVIEWS: -->
                {% for review in review_results %}

                <div class="row" style="margin: 20px 0;">
                    <div class="col" style="margin-left: 20px; border-bottom: solid 2px black;">

                        <div class="row" style="justify-content: space-between; align-items: flex-end;">

                            <div class="col-3" style="text-align:right;">
                                <span style="font-size:10px;">

                                    <!-- rating -->
                                    {% if review.rating == '1' %}
                                    <i class="material-icons">star</i><i class="material-icons">star_outline</i><i
                                        class="material-icons">star_outline</i><i
                                        class="material-icons">star_outline</i><i
                                        class="material-icons">star_outline</i>
                                    {% endif %}

                                    {% if review.rating == '2' %}
                                    <i class="material-icons">star</i><i class="material-icons">star</i><i
                                        class="material-icons">star_outline</i><i
                                        class="material-icons">star_outline</i><i
                                        class="material-icons">star_outline</i>
                                    {% endif %}

                                    {% if review.rating == '3' %}
                                    <i class="material-icons">star</i><i class="material-icons">star</i><i
                                        class="material-icons">star</i><i class="material-icons">star_outline</i><i
                                        class="material-icons">star_outline</i>
                                    {% endif %}

                                    {% if review.rating == '4' %}
                                    <i class="material-icons">star</i><i class="material-icons">star</i><i
                                        class="material-icons">star</i><i class="material-icons">star</i><i
                                        class="material-icons">star_outline</i>
                                    {% endif %}

                                    {% if review.rating == '5' %}
                                    <i class="material-icons">star</i><i class="material-icons">star</i><i
                                        class="material-icons">star</i><i class="material-icons">star</i><i
                                        class="material-icons">star</i>
                                    {% endif %}
                                </span>
                            </div>

                        
            <!-- --------------- delete --------------------  -->
            {% if review.user_id == session['user_id']: %}
            <div class="col" style="text-align: right;">
                <a href="/delete_review/{{ review.book_id }}/{{ review.id }}"><span class="fas fa-trash" style="font-size: 1.5em;"
                        data-toggle="tooltip" data-placement="top" title="delete" id="deleteImg"></span></a>
            </div>
            {% endif %}
            <!-- -----------------------------------------  -->

                        

                        </div>
                        <div class="row">
                            <div class="col">
                                <!-- user alias as a link  -->
                                <a href="/getUser/{{ review.user_id }}">{{ review.alias|upper }}</a> said:
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <!-- review content -->
                                {{ review.content }}
                            </div>
                        </div>
                        <div class="row" style="margin: 10px 0;">
                            <div class="col">
                                <!-- comment's timestamp  -->
                                posted @ {{ review.updated_at }}
                            </div>

                

                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}



            <!----------------  ADD A REVIEW  ------------------>
            <div class="col-5">
                <div class="row">
                    <h4 id="myFont">Add a Review:</h4>
                </div>

                <!-- ADD REVIEW ROUTE  -->
                <form action="/additionalReview/{{ book.id }}" method="post">

                    <div class="form-group">
                        <textarea name="content" class="form-control" id="content" rows="3"
                            style="resize: none;"></textarea>
                    </div>

                    <!-- rating  -->
                    <div class="form-group row">
                        <label style="font-weight: bold;" for="rating" class="col-sm-3 col-form-label">Rating</label>
                        <div class="col-sm-5">
                            <select name="rating" class="custom-select" id="rating">
                                <option selected>Choose</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>

                    <!-- submit button  -->
                    <div class="form-group row justify-content-end">
                        <button type="submit" class="btn btn-dark">Submit Review</button>
                    </div>
                </form>

                <!-- flash message  -->
                <!-- ------------------------------ -->
                <div class="container" style="min-height:100%; width:80%">
                    {% with messages = get_flashed_messages(category_filter=["review-success"]) %}
                    {% if messages %}
                    {% for message in messages %}

                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>Review Added!</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{message}}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    {% block body %}{% endblock %}
                </div>


                <!-- flash errors  -->
                <!-- ------------------------------ -->
                <div>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                    <p style="color: red;">{{message}}</p>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>

            </div>
        </div>
    </div>
    {% endfor %}


    <!-- BOOTSTRAP'S: Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>

</html>