<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login and Registration</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- static css -->
    <link rel="stylesheet" href="../static/style.css">
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/47aea27298.js" crossorigin="anonymous"></script>
    <!-- google icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- Link to jQuery  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body style="background-color: #ced;">

    <!-- ================= NAV ======================== -->
    <nav id="navbar" class="navbar navbar-dark" style="background-color:black;">
        <span class="navbar-text justify-content-left" style="color: white;">
            <i class="fas fa-portrait"></i>
            {{ session['user_alias'] }}
        </span>

        <ul class="nav justify-content-end">


            <!-- ======== ADD BOOKS AND REVIEW ROUTE ========= -->
            <li class="nav-item">
                <a class="nav-link" href="/addPage" style="color: white;">Add Book & Review <i
                        class="fas fa-pencil-alt"></i></a>
            </li>

            <!-- ============= HOME ROUTE =============== -->
            <li class="nav-item">
                <a class="nav-link" href="/booksPage" style="color: white;">Home <i class="fas fa-home"></i></a>
            </li>

            <!-- ============== LOGOUT ROUTE ================ -->
            <li class="nav-item">
                <form action="/logout" method="post">
                    <button type="submit" class="btn btn-Link" style="color: white;">Log out <i style="color: white;"
                            class="fas fa-door-open"></i></button>
                </form>
            </li>
        </ul>

    </nav>
    <!-- ========================================================== -->
    <div style="height: 30px; background-color:white; margin-bottom: 30px;">
    </div>

    <div class="container">
        <div class="row">

            <!----------------------- LEFT SIDE ---------------------->
            <div class="col" style="margin-left: 30px;">
                <div class="row">
                    <div class="col">

                        <!-- user alias -->
                        <h4>User Alias: {{ user_results[0].alias }}</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col">

                        <!-- user name  -->
                        <h4>Name: {{ user_results[0].name }}</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col">

                        <!-- user email  -->
                        <h4>Email: {{ user_results[0].email }} </h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col">

                        <!-- user total reviews -->
                        <h5>Total Reviews: {{ count_results[0].count }}</h5>
                    </div>
                </div>
            </div>

            <!---------------------- RIGHT SIDE  ------------------->

            <div class="col">
                <div class="row">
                    <h5>Posted Reviews on the following books:</h5>
                    <div class="col">

                        <!-- style for scroll on list  -->
                        <div
                            style="margin-top: 20px; height: 300px; width: 300px; overflow-y: auto; overflow-x: hidden;">

                            <!-- LOOP for all reviews by user: -->
                            {% for review in review_results %}
                            <div class="row">
                                <div class="col" style="margin-left: 40px;">

                                    <!-- each review title is a link  -->
                                    <a href="/get_book_review/{{ review.book_id }}">
                                        <h6>{{ review.title|capitalize }}</h6>
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <!-- BOOTSTRAP'S: Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>